.wrapper_profile {
    display: grid;
    grid-template: "photo"
                    "nick"
                    "info";
    grid-template-rows: 10fr 1fr 10fr;
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.wrapper_photos {
    grid-area: photo;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.carousel {
    width: 200px;
    height: 200px;
}

.wrapper_nick {
    grid-area: nick;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nick {
    font-weight: 500;
}

.wrapper_info {
    grid-area: info;
    margin: 0 25px;
}

.wrapper_info > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.wrapper_info input {
    text-align: right;
    width: 60%;
}

.wrapper_nick strong {
    font-size: 16px;
}
