.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-right: 3px solid #d5d5d5;
}

.nav_items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav button {
    border: none;
    background-color: white;
}

.nav button svg {
    color: gray;
}

.nav button span {
    background-color: white;
}

.nav button span:hover {
    background-color: #E0F4F1;
}

.nav button span:hover svg {
    background-color: #E0F4F1;
    color: #00A389;
}

.nav .nav_items button span:hover{
    background-color: #E0F4F1;
}

@media (max-width: 900px) {
    .nav {
        flex-direction: row;
        border-right: none;
    }
    .nav_items {
        flex-direction: row;
    }
}
