.wrapper_users_and_form {
    position: relative;
    width: 80%;
    margin-top: 50px;
}

.wrapper_users{
    height: calc(90vh - 70px);
    overflow-y: scroll;
}

.user {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 7px 12px;
    margin: 2px 0;
}

.user button {
    display: block;
    border: none;
    background-color: white;
}

.user button svg {
    color: gray;
}

.user button span {
    background-color: white;
}

.user button span:hover {
    background-color: #E0F4F1;
}

.user button span:hover svg {
    background-color: #E0F4F1;
    color: #00A389;
}


.user:hover,
.user:hover span,
.user:hover button {
    background-color: #f3f3f3;
}

.user a {
    display: flex;
    align-items: center;
}

.user a > span {
    margin-right: 10px;
}