input {
    outline: none;
}

::-webkit-scrollbar {
    width: 8px; /* ширина scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #EDF0F6;
}

::-webkit-scrollbar-thumb {
    background-color: #CFD3E4;
    border-radius: 20px; /* закругления плашки */
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

.content {
    width: 100%;
    height: calc(100vh - 20px);
    display: grid;
    grid-template-areas:"nav dialogs messages info_page";
    grid-auto-columns: 1fr 6fr 14fr 6fr;
    grid-gap: 10px;
}

.content > div {
}

.nav {
    grid-area: nav;
}

.dialogs {
    grid-area: dialogs;
}

.messages {
    grid-area: messages;
}

.info_page {
    grid-area: info_page;
}

.info_page_close {
    grid-auto-columns: 1fr 6fr 19fr 1fr;
}

.react-contextmenu-item{
    cursor: pointer;
    padding: 2px 5px;
}

.react-contextmenu-item:hover{
    background-color: #E0F4F1;
    color: #00A389;
}

.displayNone{
    display: none;
}

