.wrapper_profile{
    height: 100vh;
    display: grid;
    grid-template: "photo"
                    "nick"
                    "info";
    grid-template-rows: 4fr 1fr 10fr ;

}

.wrapper_profile .photo{
    width: 75%;
}

.wrapper_photo{
    grid-area: photo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_nick{
    grid-area: nick;
    text-align: center;
}

.wrapper_info{
    grid-area: info;
    margin: 0 25px;
}

.wrapper_info > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.wrapper_info input{
    text-align: right;
    width: 60%;
}

.wrapper_nick strong{
    font-size: 16px;
}