.wrapper_users {
    display: flex;
    flex-wrap: wrap;
}


.wrapper_users_search_form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.users_search_form, .users_search_form input {
    width: 400px;
}

.user_desk{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_desk svg,
.user_desk svg path {
    width: 25px;
    height: 25px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 10px;
}

.search input, .search button, .search span{
    background-color: #2e3744;
    border: none;
    color: white;
}

.search button:hover {
    background-color: #2e3744;
}

.search svg:hover {
    color: white;
    background-color: #2e3744;
}

