.wrapper_info_page{
    display: grid;
    grid-template-areas: "header"
                         "info";
    grid-template-rows: 1fr 10fr;
    grid-gap: 5px;
    height: calc(100vh - 20px);
}

.wrapper_info_page h2{
    margin: 0;
}

.header{
    grid-area: header;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #d5d5d5;

}

.header button{
    border: none;
    background-color: white;
}

.header button {
    border: none;
    background-color: #EDF0F6;
}

.header button svg {
    color: gray;
}

.header span {
    background-color: white;
}

.header button {
    display: block;
    border: none;
    background-color: white;
}

.header button span:hover {
    background-color: #E0F4F1;
}

.header button span:hover svg {
    background-color: #E0F4F1;
    color: #00A389;
}

.info{
    grid-area: info;
    height: calc(90vh - 30px);
    position: relative;
    padding: 0 15px;
}

.info_close{
    display: none;
}

.warning{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow_and_title{
    display: flex;
    align-items: center;
    grid-gap: 10px;
}

@media (max-width: 900px) {
    .wrapper_info_page {
        height: 100%;
        display: block;
    }
    .header {
        height: 10%;
    }

    .info {
        height: 90%;
    }
}

