.wrapper_dialogs_page {
    display: grid;
    grid-template-areas: "myProfile"
                         "dialogs";
    grid-template-rows: 1fr 10fr;
    grid-gap: 5px;
}

.myProfile {
    grid-area: myProfile;
    border-bottom: 3px solid #d5d5d5;
}

.dialogs {
    height: calc(90vh - 30px);
    overflow-y: scroll;
    grid-area: dialogs;
    position: relative;
    scrollbar-color: #CFD3E4 white;
}

.dialogs::-webkit-scrollbar-track {
    background-color: white;
}

.dialog {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: none;
    padding: 7px 12px;
    cursor: pointer;
    border-radius: 10px;
    color: black;
    margin: 2px 0;
}

.dialog_info {
    display: flex;
    align-items: center;
    position: relative;
}

.dialog button span {
    background-color: white;
}

.dialog button span:hover {
    background-color: #E0F4F1;
}

.dialog:hover {
    background-color: #f3f3f3;
}

.active {
    background-color: #f3f3f3;
}

.active button {
    background-color: #f3f3f3;
}

.dialog_avatar {
    margin-right: 10px;
}

.dialog button {
    border: none;
    background-color: white;
}

.dialog button svg {
    color: gray;
}

.dialog button span {
    background-color: white;
}

.dialog button span:hover {
    background-color: #E0F4F1;
}

.dialog:hover button,
.active button,
.active button span,
.dialog:hover button span,
.dialog:hover .wrapper_circle_online {
    background-color: #f3f3f3;
}

.dialog button:hover span {
    background-color: #E0F4F1;
}

.dialog button span:hover svg {
    background-color: #E0F4F1;
    color: red;
}

.deleteAndLastChanged {
    display: flex;
    flex-direction: column;
}

.message_when_no_dialogs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.name_and_last_message {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.dialog_name {
    font-weight: 500;
}

.last_message {
    display: flex;
    gap: 5px
}

.last_message span:last-child {
    overflow: no-display;
}

@media (max-width: 900px) {
    .wrapper_dialogs_page {
        height: 100%;
    }

    .dialogs {
        height: 90%;
    }
}

