.window_chat {
    height: 500px;
    overflow-y: auto;
}

.form_input_message {
    display: flex;
    align-items: center;
}

.message {
    background: #eee;
    border-radius: 5px;
    padding: 0 10px;
    margin: 10px;
}