.window_chat {
    height: 540px;
    overflow-y: auto;
}

.form_input_message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.form_input_message button{
    display: none;
    box-sizing: border-box;
}

.form_input_message textarea{
    margin: 10px;
}

.message {
    display: flex;
    word-break: break-all;
    background: #efefef;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.ava_photo {
    margin-right: 10px;
}