.wrapper_messages_page {
    display: grid;
    grid-template-areas: "actions"
                         "messageAndFrom";
    grid-template-rows: 1fr 10fr;
    background-color: #EDF0F6;
    border-radius: 10px;
    grid-gap: 5px;
}

.messagesAndForm {
    width: 100%;
    height: calc(90vh - 20px);
    display: grid;
    grid-template-areas: "messages"
                         "form_input";
    grid-auto-rows: 15fr 1fr;
    grid-gap: 7px;
    margin-right: 2px;
    position: relative;
    grid-area: messageAndFrom;
}

.messages {
    grid-area: messages;
    overflow-y: scroll;
    color: black;
    padding: 0 4px 0 6px;
}

.form_input_message {
    grid-area: form_input;
    margin: 0 0 7px 7px;
}

.form_input_message form {
    display: flex;
    align-items: center;
}

.form_input_message span {
    background-color: #EDF0F6;
}

.form_input_message textarea {
    resize: none;
    border-radius: 10px;
    border: none;
}

.others_message {
    text-align: left;
}

.others_message .message {
    background-color: white;
}

.others_message_border {
    border-radius: 10px 10px 10px 0;
}

.my_message {
    text-align: right;
}

.my_message .message {
    background-color: #CFD3E4;
}

.my_message_border {
    border-radius: 10px 10px 0 10px;
}

.message {
    max-width: 90%;
    display: inline-block;
    padding: 3px 10px;
    margin: 3px 3px 3px 7px;
}

.message_content {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.message_text {
    word-wrap: anywhere;
    text-align: left;
}

.actions {
    margin: 0 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    grid-area: actions;
    border-bottom: 3px solid #d5d5d5;
}

.dialogsPhotoAndName {
    display: flex;
    align-items: center;
    font-size: 16px;
    grid-gap: 7px;
}

.selectADialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form_input_message button,
.dialogsPhotoAndName button {
    border: none;
    background-color: #EDF0F6;
}

.form_input_message svg,
.dialogsPhotoAndName button svg {
    color: gray;
}

.form_input_message span,
.dialogsPhotoAndName span {
    background-color: #EDF0F6;
}

.form_input_message button,
.dialogsPhotoAndName button {
    display: block;
    border: none;
    background-color: #EDF0F6;
}

.form_input_message button span:hover,
.dialogsPhotoAndName button span:hover {
    background-color: #E0F4F1;
}

.form_input_message button span:hover svg,
.dialogsPhotoAndName button span:hover svg {
    background-color: #E0F4F1;
    color: #00A389;
}

.form_input_message .emoji_button {
    position: relative;
}

.form_input_message .emoji {
    position: absolute;
    top: -440px;
    right: 10px;
}

.wrapper_file_upload{
    position: relative;
    height: 40px;
}

.user_ava{
    position: relative;
}

.user_nick_and_online_count{
    display: flex;
    flex-direction: column;
}

.nick, .dialog_name{
    font-weight: 600;
}

.label_file{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    position: relative;
    cursor: pointer;
}

.message_photo{
    width: 300px;
    margin-top: 7px;
    border-radius: 10px;
}

.message_file{
    padding: 3px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 7px;
    margin: 6px;
}

.message_file span{
    background-color: #a9aab7;
}

.checks{
    position: relative;
    width: 20px;
    height: 20px;
}

.check_left{
    position: absolute;
    left: 1px;
}

.check_right{
    position: absolute;
    right: 1px;
}

@media (max-width: 900px) {
    .wrapper_messages_page {
        height: 100%;
        display: block;
    }

    .actions {
        height: 10%;
    }

    .messagesAndForm {
        height: 90%;
    }

    .message{
        max-width: 80%;
    }

    .emoji{
        left: -45px;
    }

    .message_photo{
        width: 200px;
    }
}

