.wrapper_dialog_info {
    width: 100%;
    height: calc(90vh - 30px);
    display: grid;
    grid-template: "ava"
                    "name"
                    "members_and_users";
    grid-template-rows: 3fr 1fr 6fr;
    text-align: center;
}

.ava {
    grid-area: ava;
}

.name {
    grid-area: name;
    display: flex;
    justify-content: center;
    align-items: center;
}

.members_and_users {
    height: calc(54vh - 30px);
    grid-area: members_and_users;
}

.wrapper_users {
    height: 90%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_info {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    padding: 5px;
    border-radius: 10px;
    position: relative;
}

.name_and_who_is_author {
    display: flex;
    align-items: center;
    grid-gap: 10px;
}

.members {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
}

.user:hover,
.user:hover button,
.user:hover button span {
    background-color: #f3f3f3;
}

.wrapper_dialog_info button {
    border: none;
    background-color: white;
}

.wrapper_dialog_info button svg {
    color: gray;
}

.wrapper_dialog_info button span {
    background-color: white;
}

.wrapper_dialog_info button span:hover {
    background-color: #E0F4F1;
}

.wrapper_dialog_info button:hover span {
    background-color: #E0F4F1;
}

.wrapper_dialog_info button span:hover svg {
    background-color: #E0F4F1;
    color: #00A389;
}

.user button span:hover svg {
    color: red;
}

.form_change_group_name {
    display: flex;
}

h3 {
    margin: 0;
}


@media (max-width: 900px) {
    .members_and_users {
        height: calc(50vh - 30px);
    }
}







