.wrapper_dialog_info{
    text-align: center;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    width: 80%;
}

.wrapper_users{
    overflow-y: scroll;
}

.wrapper_user{
    display: flex;
    align-items: center;
    grid-gap: 10px;
    padding: 5px;
    border-radius: 10px;
}

.wrapper_user:hover{
    background-color: #F3F3F3;
}

.name_and_who_is_author{
    display: flex;
    align-items: center;
    grid-gap: 10px;
}

.members{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
}

.members button {
    display: block;
    border: none;
    background-color: white;
}

.members button svg {
    color: gray;
}

.members button span {
    background-color: white;
}

.members button span:hover {
    background-color: #E0F4F1;
}

.members button span:hover svg {
    background-color: #E0F4F1;
    color: #00A389;
}

.members_and_users{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}