.nav{
    display: flex;
    height: 100%;
    align-items: center;
}

.navLink{
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active{
    background-color: deepskyblue;
}
