.selectedPage {
    font-weight: 500;
}

.wrapper_pagination {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.pagination {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px 2px;
}

.pagination img {
    padding: 2px;
    box-sizing: border-box;
}

.pagination:hover {
    background-color: #dedede;
    color: black;
}

.pagination.selectedPage {
    background-color: #dedede;
}